@model FutureWeb.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}


<h1>Login View</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary() <!--Tells if the field is required on the html form-->  

    <div>
        @Html.LabelFor(x => x.Username)
        @Html.EditorFor(x => x.Username)
    </div>

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
}






 <div class="container">

      <form class="form-signin">

        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUsername" class="sr-only">Username</label>

        <input type="Username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div class="checkbox">

          <label>

            <input type="checkbox" value="remember-me"> Remember me

          </label>

        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      </form>

    </div> <!-- /container -->

<div class="container">
    <form class="form-control">
<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd">
</div>
<div>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </div>
        </form>
    </div>

